In [2]:
# 🛠️ Importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 📥 Lista de links dos empréstimos (pode adicionar quantos quiser)
links_emprestimos = [
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv',
  
    # Adicione mais links aqui, separados por vírgula
]

# 📥 Link dos exemplares
link_exemplares = 'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet'

# 📚 Carregar todos os arquivos de empréstimos e concatenar
df_emprestimos_list = []

for link in links_emprestimos:
    df_temp = pd.read_csv(link)
    df_emprestimos_list.append(df_temp)

# Junta todos os DataFrames em um só
df_emprestimos = pd.concat(df_emprestimos_list, ignore_index=True)

# Carregar os dados dos exemplares
df_exemplares = pd.read_parquet(link_exemplares)

# 👀 Verificando rapidamente os dados
print("Primeiras linhas dos empréstimos unificados:")
display(df_emprestimos.head())

print("\nPrimeiras linhas dos exemplares:")
display(df_exemplares.head())

# 📌 Conferir nomes de colunas
print("\nColunas de empréstimos:")
print(df_emprestimos.columns)

print("\nColunas de exemplares:")
print(df_exemplares.columns)

# 🧩 Mesclar empréstimos e exemplares
# ⚡ Atenção: ajuste o 'on' se a coluna de ligação tiver outro nome
df_unificado = pd.merge(df_emprestimos, df_exemplares, on='codigo_barras', how='inner')

# 📋 Tamanho do DataFrame antes da limpeza
print(f"\nQuantidade de linhas antes da limpeza: {df_unificado.shape[0]}")

# 🧹 Limpar dados
df_unificado.dropna(inplace=True)
df_unificado.drop_duplicates(inplace=True)

# 📋 Tamanho do DataFrame depois da limpeza
print(f"\nQuantidade de linhas depois da limpeza: {df_unificado.shape[0]}")

# 💾 Salvar o resultado
df_unificado.to_csv('dados_unificados.csv', index=False)

print("\n✅ Dados unificados, limpos e salvos como 'dados_unificados.csv'!")

Primeiras linhas dos empréstimos unificados:

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

Primeiras linhas dos exemplares:

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

Colunas de empréstimos:
Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'tipo_vinculo_usuario'],
      dtype='object')

Colunas de exemplares:
Index(['id_exemplar', 'codigo_barras', 'colecao', 'biblioteca',
       'status_material', 'localizacao', 'registro_sistema'],
      dtype='object')

Quantidade de linhas antes da limpeza: 1243040

Quantidade de linhas depois da limpeza: 548896

✅ Dados unificados, limpos e salvos como 'dados_unificados.csv'!